{% extends "core/base.html" %}
{% load static %}

{% block extra %}
    <link rel="stylesheet" href="{% static "blogs/blogs.css" %}">
{% endblock %}

<div class="content">
    {% block content %}

        <section>
            <article class="title"><h2>{{ object.title }}</h2></article>

            <strong>Описание: </strong>{{ object.description }}
            <br><br>
            <strong>Автор: </strong><i>{{ object.author }}</i>
            <br><br>

            <div>Категории:
                {% for category in blog.category.all %}
                    <a href="{% url "blogs:category" pk=category.id %}">{{ category }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                <p></p>
            </div>

            {% if blog.author == user %}
                <p><a href="{% url "blogs:edit_blog" pk=blog.id %}">Редактировать блог</a></p>
                <p><a href="{% url "blogs:create_post_in_blog" pk=blog.id %}">Создать новый пост</a></p>
                <p></p>
            {% endif %}

            {% if object.post_set.all %}
                <p><header><strong>Посты данного блога:</strong></header></p>
                {% for post in object.post_set.all %}
                    <div class="blogdiv">
                        <a href="{% url "blogs:post"  pk=post.id %}">{{ post.title }}</a>
                        <p></p>
                        Нравится: <span class="autorefresh" data-post="{{ post.id }}" data-url="{% url "blogs:post_likes" pk=post.id %}">
                            {{ post.like_set.all.count }}
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <p><header><strong>Постов данного блога пока нет</strong></header></p>
            {% endif %}
        </section>

    {% endblock %}
</div>