{% extends "core/base.html" %}

<div class="content">
    {% block content %}
        <section>
            <article>Редактировать блог</article>

            <h2><a href="{% url "blogs:blog_list" %}">Все блоги</a></h2>
            <h2><a href="{% url "blogs:blog" pk=object.id %}">К блогу</a></h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" value="Сохранить">
            </form>
        </section>
    {% endblock %}
</div>