<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>My title</title>
        <link rel="stylesheet" href="{% static "core/js/smoothness/jquery-ui.custom.min.css" %}">
        <link rel="stylesheet" href="{% static "core/base.css" %}">
        <link rel="stylesheet" href="{% static "core/chosen/chosen.css" %}">
        <script src="{% static "core/js/jquery.min.js" %}"></script>
        <script src="{% static "core/js/jquery-ui.min.js" %}"></script>
        <script src="{% static "core/chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "core/js/base.js" %}"></script>

        {% block extra %}{% endblock %}
    </head>

    <body>
        {% block title %}
            <header>
                {% if user.is_anonymous %}
                    <strong><a class="header" href="{% url "login" %}">Вход</a>
                    <a class="header" href="{% url "register" %}">Регистрация</a></strong>
                {% else %}
                    <strong class="user">{{ user.username }}
                    <a class="header" href="{% url "logout" %}">Выход</a></strong>
                {% endif %}
            </header>
        {% endblock %}

        <nav>
            <strong><a class="header" href="{% url "home" %}">Домашняя страница</a>
            <a class="header" href="{% url "blogs:blog_list" %}">Блоги</a></strong>
        </nav>

        <div class="content">{% block content %}{% endblock %}</div>

        <footer>{% block footer %}<i>Самый лучший в мире сайт 0_0</i>{% endblock %}</footer>
    </body>
</html>