{% extends "core/base.html" %}
{% load static %}

{% block extra %}
    <link rel="stylesheet" href="{% static "core/home.css" %}">
{% endblock %}

{% block content %}
    <header>Главная страница</header>

    <section>
        <p><strong>Количество блогов:</strong><br>{{ blogs_count }}</p>
        <p><a href="{% url "blogs:blog_list" %}">Список блогов</a></p>
        <p></p>
        <p><strong>Количество постов:</strong><br>{{ posts_count }}</p>
        <p></p>
        <p><strong>Количество комментариев:</strong><br>{{ comments_count }}</p>
    </section>

{% endblock %}