{% extends "core/base.html" %}

{% block title %}
    {% if user.is_anonymous %}
        <a href="{% url "register" %}">Зарегестрироваться</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form }}
            <input type="submit">
        </form>
    {% else %}
        {{ user.username }}
        <a href="{% url "logout" %}">Выход</a>
    {% endif %}
{% endblock %}