{% extends "core/base.html" %}

{% block title %}
    <header>
        {% if user.is_anonymous %}
            <a class="header" href="{% url "register" %}">Регистрация</a>
        {% endif %}
    </header>

{% endblock %}

{% block content %}
    <section>
        <article>Войти в систему<p></p></article>

        {% if user.is_anonymous %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {{ form }}
                <input type="submit" class="button">
            </form>
        {% else %}
            {{ user.username }}
            <a href="{% url "logout" %}">Выход</a>
        {% endif %}
    </section>

{% endblock %}